html {
  background: gainsboro;
}

body {
  font-family: "Open Sans", sans-serif;
  background: rgba(175, 33, 214, 0.788);
  margin: 0 auto;
  text-align: center;
}
header,
footer {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px 10px;
}
input[type="search"] {
  width: 100%;
}

.product {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 100%;
}
img {
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  line-height: 30px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: blue;
}

header li {
  display: inline;
}
header h1,
nav {
  display: inline-block;
}
header h1 {
  width: 100%;
}

aside li:hover {
  color: white;
}

.button {
  padding: 10px;
  display: inline-block;
}
p:first-of-type {
  color: red;
}
p:last-of-type {
  color: yellow;
}
.button:last-of-type {
  color: white;
  background: blue;
}

.product-detail {
  width: 800px;
}
.product-detail img {
  max-width: 50%;
  float: left;
  margin: 10px;
}

/* Contact us */
form {
  width: 60%;
  margin: 10px 0;
  padding: 10px;
}
.inline label {
  display: inline-block;
  width: 100px;
}
input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  width: 400px;
  margin: 10px;
}

table {
  width: 400px;
  text-align: left;
  margin: 20px 0;
}

th,
td {
  padding: 10px;
}
tr:hover {
  background: white;
}

@media (min-width: 800px) {
  input[type="search"] {
    width: 40%;
    margin-left: 2em;
  }
  .product {
    display: inline-block;
    width: 40%;
  }
}
@media (min-width: 1000px) {
  body {
    text-align: left;
  }
  header h1 {
    width: 60%;
  }
  main {
    width: 70%;
    display: inline-block;
    padding: 10px;
  }
  aside {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 90vw;
  }
  .product {
    width: 30%;
  }
  input[type="search"] {
    width: 20%;
  }
}
